/** {
    border: 1px solid red !important;
}*/

/*box-sizing calculates elements size to include both border and padding (not margin) this is a new thing and some browsers have trboule with so these webkits add browser specificatios*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

img {
  max-width:100%;
}

hr {
  height: 1px;
  background-color: black;
  border: none;
}

body {

    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 300;
}

/*Overwrite bootstrap a tag color*/
a {
color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
  width: 24%;
  text-align: center;
  padding: 24px;
  text-transform: uppercase;
  /*line-height: 24px;*/
}

.text-muted {
  color: #bcbbbb;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 20px;
}

.featuredwork-hr {
  background-color: #bcbbbb;
  height: 1px;
}




/*#5e412f #fcebb6 #78c0a8 #f07818 #f0a830
#6e6e6e #ff9900 #f3843e #ff5a09 #393939 #639bf1 #77ba9b
2fbebd
 */
